{{define "js"}}
{{end}}
{{define "json-ld"}}
<script type="application/ld+json">
{
  "@context" : "https://schema.org",
  "@graph":[
  {{- (partial "WebSite-json" .) | htmlUnescape | safeJS }},
  {{- (partial "WebPage-json" .) | htmlUnescape | safeJS }},
  {{- (partial "breadcrumb-json" .) | htmlUnescape | safeJS }},
  {{- (partial "SiteNavigationElement-json" .) | htmlUnescape | safeJS }}
  ]
}
</script>
{{end}}

{{define "insert-body-first"}}

{{partial "section-header-ani"}}

{{end}}
{{define "main"}}
<ol class="breadcrumb cmxw">
  {{- template "breadcrumb" (dict "node" . "start" .) }}
</ol>
<div class="cmxw">
{{.Content}}
</div>

{{partial "service-cards" (dict "Pages" .Page.Pages)}}

{{end}}