<form name="contactForm" class="contact-form width-normal" action-xhr="/en/contact/thank-you" method="post" data-netlify="true" data-netlify-recaptcha="true" target="_blank">
  <input type="hidden" name="form-name" value="contactForm" />
  <div class="columns">
    <div class="column col-md-6 col-sm-12 form-group">
      <label class="form-label require">Last name</label>
      <input id="姓" name="姓" type="text" class="form-input input-lg" placeholder=" " required>
      <span visible-when-invalid="valueMissing" validation-for="姓">The field is required.</span>
    </div>
    <div class="column col-md-6 col-sm-12 form-group">
      <label class="form-label require">First name</label>
      <input id="名" name="名" type="text" class="form-input input-lg" placeholder=" " required>
      <span visible-when-invalid="valueMissing" validation-for="名">The field is required.</span>
    </div>
  </div>

  <div>
    <label class="form-label require">Company name</label>
    <input id="会社名" name="会社名" type="text" class="form-input input-lg" placeholder=" " required>
    <span visible-when-invalid="valueMissing" validation-for="会社名">The field is required.</span>
  </div>

  <div class="form-group">
    <label class="form-label require">Email address</label>
    <input id="メールアドレス" name="メールアドレス" type="email" class="form-input input-lg" placeholder=" " required>
    <span visible-when-invalid="valueMissing" validation-for="メールアドレス">The field is required.</span>
  </div>

  <div class="form-group">
    <label class="form-label">Phone number</label>
    <input id="電話番号" name="電話番号" type="tel" class="form-input input-lg" placeholder=" ">
  </div>

  <div class="columns">
    <div class="column col-md-6 col-sm-12 form-group">
      <label class="form-label require">Department</label>
      <select id="部門" class="form-select select-lg" name="部門" required>
        <option value>--please select--</option>
        <option value="経営全般">Business management</option>
        <option value="営業">Sales</option>
        <option value="マーケティング・広報・企画">Marketing</option>
        <option value="情報システム">IT</option>
        <option value="人事・総務">General administration</option>
        <option value="その他">Others</option>
      </select>
      <span visible-when-invalid="valueMissing" validation-for="部門">The field is required.</span>
    </div>

    <div class="column col-md-6 col-sm-12 form-group">
      <label class="form-label require">Job Title</label>
      <select id="役職" class="form-select select-lg" name="役職" required>
        <option value>--please select--</option>
        <option value="経営者・役員">Director</option>
        <option value="部長クラス">General Manager</option>
        <option value="課長・係長・主任クラス">Manager</option>
        <option value="一般社員">Employee / Staff</option>
        <option value="個人">Self-employed</option>
        <option value="学生">Student</option>
        <option value="その他">Others</option>
      </select>
      <span visible-when-invalid="valueMissing" validation-for="役職">The field is required.</span>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label">Inquiry content</label>
    <textarea class="form-input input-lg" name="お問い合わせ" rows="10"></textarea>
  </div>

  <div class="form-group text-center mt1">
    <label class="form-label text-left" for="about-privacy-policy">About privacy policy</label>
    <textarea class="form-input" id="about-privacy-policy" placeholder="Textarea" cols="" rows="5" readonly>
      1. Name or name of business
      Andaze Co., Ltd.
      2. Name or job title of the personal information protection administrator (or its agent),
      Affiliation and contact information
            Personal Information Protection Manager Management Department
            Contact: 03-3230-0401
      3. Purpose of use of personal information
      Personal information of applicants will be used for our personnel recruitment activities (document screening, interviews, evaluations, contact with applicants, etc.).
      4. Provision of personal information to third parties
      For the introduction of the person in charge of business or the candidate in charge, we will provide our name, affiliation, work resume directly to our business partner or by email attachment (with password).
      5. Outsourcing of personal information handling
      Due to business operations, we may outsource personal information only to the extent of the purpose of use in the preceding paragraph. In this case, we will select an outsourcer with a high level of personal information protection, make a contract for proper management and confidentiality of personal information, and carry out appropriate management.
      6. Request for disclosure of personal information
      Regarding the disclosure of your personal information to us (notification of purpose of use, disclosure, correction/addition/deletion of contents, suspension or erasure of use, suspension of provision to a third party) You can apply to the following inquiries window of our company. In that case, we will confirm the customer's identity and respond within a reasonable period.
        [Contact point]
      Andaze Co., Ltd.
      Personal information inquiry window
      Expert Office 1F, 2-10-3 Kojimachi, Chiyoda-ku, Tokyo 102-0083
      TEL: 03-6893-2121
      Mail: privacy@andaze.com
      Reception hours: 9:00 to 18:00
      (Excluding Saturdays, Sundays, public holidays, year-end and New Year holidays)
      7. About voluntary provision of personal information
      It is voluntary for the person to provide personal information to us. However, if you do not provide the necessary items, we may not be able to respond appropriately. </textarea>        <label class="form-checkbox d-inline-block">
      <input id="個人情報利用" type="checkbox" name="個人情報利用" required>
      <i class="form-icon"></i><a href='{{"/en/privacy/" | relURL}}' class="text-dark">I agree with the personal information protection policy.</a>
    </label>
    <div visible-when-invalid="valueMissing" validation-for="個人情報利用">Checkbox is required.</div>
  </div>

  <input type='hidden' name='lang' value='{{$.Site.Language.Lang}}'>

  <div class="text-center">
    <input name="submit-button" type="submit" id="Form-submit" value="▶︎　Send" class="btn my1 px3">
    <div submitting>
      <template type="amp-mustache">
        Sending...
      </template>
    </div>
    <div submit-error>
      <span class="text-error">Failed. Try again after few minutes.</span>
    </div>
  </div>
  <div data-netlify-recaptcha="true"></div>
</form>