<header class="navbar p-fixed">
  <section class="navbar-section"></section>
  <div role="button" on="tap:header-sidebar.toggle" tabindex="0" class="mobile-menu show-md sansserif">☰ MENU</div>
  <nav class="navbar-center hide-md">
    <ul>
{{- $currentPageName := .Page.Params.menu.main.name}}
{{- $currentParent := .Page.Params.menu.main.parent}}
{{- range .Site.Menus.main.ByWeight}}
  {{- .Pre}}
      <li class='nav-link {{if or (eq .Name $currentPageName) (eq .Identifier $currentParent)}}current{{end}}'>
        {{ if eq .Name "CAREERS" }}
          <a href='{{.URL}}' target="_blank">{{.Name}} <amp-img src="{{ `img/new-tab.png` | absURL }}" width="18" height="18" style="top:4px;" layout="fixed" ></amp-img> </a>
        {{ else }}
          <a href='{{.URL}}'>{{ .Name }}</a>
        {{ end }}
      </li>
  {{- end}}
    </ul>
  </nav>
  <section class="navbar-section"></section>
</header>
<amp-sidebar id="header-sidebar" class="" layout="nodisplay" side="left">
  <div class="header-sidebar-title">
    <span class="sansserif">CONTENTS</span>
    <div class="btn items-start" role="button" aria-label="close" on="tap:header-sidebar.close" tabindex="0">✕</div>
  </div>
  <nav class="side-bar">
    <ul class="">
      {{- $counter := 0}}
      {{- range .Site.Menus.main.ByWeight }}
        {{- if .HasChildren}}
        {{- $counter = add $counter 1}}
        {{- $expand := printf "side_exp%d" $counter}}
        <li class="nav-link">
          <amp-accordion disable-session-states animate>
            <section on='expand:AMP.setState({ {{$expand}}: 1});collapse:AMP.setState({ {{$expand}}: 0})'>
              {{.Pre}}<header class="nav-link">
                <div class="has-children">{{.Name}}
                  <i [class]="'icon icon-arrow-' + ({{$expand}}==1 ? 'up' : 'down')" class="icon icon-arrow-down"></i>
                </div>
              </header>
              <div>
                {{- range .Children }}
                <li class="nav-link pl2"><a href="{{.URL}}" class="">{{.Name}}</a></li>
                {{- end }}
                </div>
            </section>
          </amp-accordion>
        </li>
        {{- else}}
          {{- .Pre}}
              <li class='nav-link {{if eq .Name $currentPageName}}current{{end}}'>
                {{ if eq .Name "CAREERS" }} 
                  <a href='{{.URL}}'>
                    {{.Name}} <amp-img src="{{ `img/new-tab.png` | absURL }}" width="18" height="18" style="top:4px;" layout="fixed" ></amp-img>
                  </a>
                {{ else }}
                  <a href='{{.URL}}'>{{ .Name }}</a>
                {{ end }}
              </li>
        {{- end}}
      {{- end }}
    </ul>
  </nav>
</amp-sidebar>