<amp-animation id="section-ani01" layout="nodisplay">
  <script type="application/json">
    {
      "selector": ".background-line",
      "duration": ".2s",
      "fill": "both",
      "keyframes": [{"opacity":0,"transform": "scale(0,1)"}, {"opacity":1,"transform": "scale(1,1)"}],
      "delay": ".3s"
    }
  </script>
</amp-animation>
<amp-animation id="section-ani02" layout="nodisplay">
  <script type="application/json">
    {
      "selector": ".title-box",
      "duration": ".3s",
      "fill": "both",
      "easing": "ease-out",
      "keyframes": [{"opacity":0,"transform": "scale(1,0)"}, {"opacity":1,"transform": "scale(1,1)"}],
      "delay": ".4s"
    }
  </script>
</amp-animation>
<amp-animation id="section-ani03" layout="nodisplay">
  <script type="application/json">
    {
      "selector": ".section-title2",
      "duration": ".3s",
      "fill": "both",
      "easing": "ease-out",
      "keyframes": [{"opacity":0}, {"opacity":1}],
      "delay": ".6s"
    }
  </script>
</amp-animation>
