$BASE_COLOR: white;
$MENU_COLOR: white;
$MENU_COLOR_BG: #000;
$FOOTER_COLOR: #8D8D8D;
$FOOTER_COLOR_BG: #030303;
$FOOTER_COLOR_HOVER: white;
$BUTTON_COLOR: white;
$BUTTON_COLOR_BG: #000;
$ANCHOR_COLOR: #000;
$BREADCRUMB_COLOR: #000;
$PAGE_TOP_COLOR: white;
$PAGE_TOP_COLOR_BG: gray; // rgba(240, 128, 128, 0.8); // ※右下に出るページトップへのジャンプボタン
